.button button {
font-size: 20px;
font-weight: 700;
border-radius: 25px;
padding:15px 30px;
background: rgb(89, 0, 255);
color: #ccc;
transition: all 500ms ease;
margin-bottom: 50px;
}

.button button:hover {
    background: orange;
    color: black;
}

/* 
#error {
color: red;
} */


